/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
    background-color: $lblue;
}

.error {
    background-color: $erred;
}

.info {
    background-color: $infopurp;
}

.success {
    background-color: $succgreen;
}

.warning {
    background-color: $warred;
}
